﻿@*
General setup for all GenPres sites:
- Home: The Acceptation/Production version
- Debug: The Acceptation/Production version with Loader enabled for ExtJs
- Tests: Runs individual tests
- AppTest: Runs app specific use case scenario's
*@

<!DOCTYPE html>
@* 
    Add style element for the EditableComboBox class
    TODO: generate special genpres.css
*@

<html>

<head>
    <title>@ViewBag.Title</title>
    
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Frontend/packages/genpres-theme/build/resources/genpres-theme-all.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Frontend/Styles/GenPres/css/GenPres.css")" />
    
    @RenderSection("CSS", false)

    <script>
        Ext = {};
        Ext.app = {};
        Ext.ns = function () {
        };
    </script>

    <script type="text/javascript" src="@Url.Content("~/DirectApi")"></script>
    <script type="text/javascript" src="@Url.Content("~/DirectModel")"></script>

    @if (Request.Params["debug"] != null)
    {
        <script src="@Url.Content("~/Frontend/Ext/ext-all-debug.js")"></script>
    }
    @RenderSection("Javascript", false)
    
    <script src="@Url.Content("~/Frontend/packages/genpres-theme/build/genpres-theme-debug.js")"></script>
    
    <!--<script src="~/Frontend/Styles/ext-theme-neptune/ext-theme-neptune.js"></script>-->
</head>
<body>
    @RenderBody()
</body>
</html>