﻿@*
General setup for everything using ext
*@

<!DOCTYPE html>

<html>

<head>
    <title>@ViewBag.Title</title>
    
    @if (Request.Url.AbsolutePath.Contains("Management"))
    {
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Frontend/packages/ext-theme-neptune/build/resources/ext-theme-neptune-all.css")" />
    }
    else
    {
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Frontend/packages/genpres-theme/build/resources/genpres-theme-all.css")" />
    }
    

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Frontend/Styles/GenPres/css/GenPres.css")" />
    
    @RenderSection("CSS", false)

    <script>
        Ext = {};
        Ext.app = {};
        Ext.ns = function () {
        };
    </script>
    
    <script type="text/javascript" src="@Url.Content("~/DirectApi")"></script>
    <script type="text/javascript" src="@Url.Content("~/DirectModel")"></script>

    <script src="@Url.Content("~/Frontend/Ext/ext-all-debug.js")"></script>

    @RenderSection("Javascript", false)
    
    <script src="@Url.Content("~/Frontend/packages/genpres-theme/build/genpres-theme-debug.js")"></script>

</head>
<body>
    @RenderBody()
</body>
</html>